# Import necessary dependencies

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import matplotlib as mpl
import numpy as np
import seaborn as sns

%matplotlib inline

# Load raw data

In [7]:
raw_data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data', sep=',',
names = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num'])

# Show raw data

In [8]:
raw_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

# Match features with raw data

In [9]:
### Fix colums types
data = raw_data

# sex
data['sex'] = data['sex'].apply(lambda value: 'male' if value == 1 else 'female')
data['sex'] = pd.Categorical(data['sex'], categories=['male', 'female'])

# chest pain type
data['cp'] = data['cp'].apply(lambda value: 'typical angina' if value == 1 else 'atypical angina' if value == 2 else 'non-anginal pain' if value == 3 else 'asymptomatic')

# fasting blood sugar > 120 mg/dl
data['fbs'] = data['fbs'].apply(lambda value: 'True' if value == 1 else 'False')

# resting electrocardiographic results
data['restecg'] = data['restecg'].apply(lambda value: 'normal' if value == 0 else 'abnormality' if value == 1 else 'hypertrophy')

# exercise induced angina
data['exang'] = data['exang'].apply(lambda value: 'Yes' if value == 1 else 'No')

# slope of the peak exercise ST segment
data['slope'] = data['slope'].apply(lambda value: 'upsloping' if value == 1 else 'flat' if value == 2 else 'downsloping')

# thal
data['thal'] = data['thal'].apply(lambda value: 'normal' if value == 3 else 'fixed defect' if value == 6 else 'reversable defect')

# diagnosis of heart disease (angiographic disease status)
data['num'] = data['num'].apply(lambda value: '< 50% diameter narrowing' if value == 0 else '> 50% diameter narrowing')

# Show data

In [10]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,male,typical angina,145.0,233.0,True,hypertrophy,150.0,No,2.3,downsloping,0.0,reversable defect,< 50% diameter narrowing
1,67.0,male,asymptomatic,160.0,286.0,False,hypertrophy,108.0,Yes,1.5,flat,3.0,reversable defect,> 50% diameter narrowing
2,67.0,male,asymptomatic,120.0,229.0,False,hypertrophy,129.0,Yes,2.6,flat,2.0,reversable defect,> 50% diameter narrowing
3,37.0,male,non-anginal pain,130.0,250.0,False,normal,187.0,No,3.5,downsloping,0.0,reversable defect,< 50% diameter narrowing
4,41.0,female,atypical angina,130.0,204.0,False,hypertrophy,172.0,No,1.4,upsloping,0.0,reversable defect,< 50% diameter narrowing